
@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-repeat: no-repeat;
    }

    .body1 {
        height: 100%;
        width: 100%;
        color: black;
    }
</style>
<center>
    <div class="body1" style="border:2px solid black;padding:20px;">
        
        <h2>Who we are?</h2>
        <h3>
            We have develope the "Classroom Allocation System" application,<br />
            In this application we are providing the various functionalities.

        </h3>
    </div>
</center>