
@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-repeat: no-repeat;
       
    }

    .body1 {
        height: 100%;
        width: 100%;
        color: black;
    }
</style>
<center style=" background-image:url(../../Content/Images/2.jpg);height:400px">
    <div class="body1" style="padding:20px;background-color:white;width:800px;opacity:0.8">
        
        <h2>Who we are?</h2>
        <h3>
            We have develope the "Classroom Allocation System" application,<br />
            In this application we are providing the various functionalities.
            By this system user can easily book a classroom according to his/her timespan and date.
            This is the most flexible classroom booking system.

        </h3>
    </div>
</center>