
@{
    ViewBag.Title = "Contact";
}
@*@{ var imagePath = "";
        WebImage photo = new WebImage(@"C:\Users\manishak2\Desktop\ProjectCoding\ClassroomAllocationSystem\ClassroomAllocationSystem\Content\Design\img\bench.jpg");
        if (photo != null)
        {
            imagePath = @"img\bench.jpg";
            photo.FlipVertical();

        }
    }*@

<style>
    body {
        background-repeat: no-repeat
    }

    .body1 {
        height: 100%;
        width: 100%;
    }

    h3 {
        color: white
    }

    h2 {
        color: white
    }

    h5 {
        color: white
    }
</style>

<body class="body1" style="background-image:url('/Content/Design/img/i1.jpg')">
    @*<img src="@imagePath" alt="Image" />*@
    <h2>Contact</h2>
    <h3>You can contact us here</h3>
    <h5>Email ID:dtbatch@gmail.com</h5>
    <h5>Mobile No.:9098765456</h5>

</body>