
@{
    ViewBag.Title = "GetPassword";
}
<html>
<head>
    <script src="~/Content/MyScripts/MyJavaScript.js">
      
    </script>
</head>
<body>
    @using (Html.BeginForm("setNewPassword","Home", FormMethod.Post, new { onsubmit = "return ValidateForgotPass();" }))
    {
        <center style="margin:30px">

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <center>
                    <div>
                    <div class="form-group">
                        @Html.Label("New Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            <input type="password" name="newPass" id="newPass" class="form-control" />
                            <span id="newPass_error" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Re-Enter Password:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            <input type="password" id="retypedPass" class="form-control" />
                            <span id="retypedPass_error" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Reset" class="btn btn-success" />
                        </div>
                    </div>
                        </div>
                </center>


            </div>


        </center>
    }


</body>
</html>