<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@model IEnumerable<MVCEventCalendar.Resource>

<div style="background-image:url(../../Content/Images/2.jpg);background-size:cover">
    @using (Html.BeginForm("AddResource", "Admin", FormMethod.Post))
    {
        <center style="margin-top:0px;height:500px">
            @Html.AntiForgeryToken()
           

            <div style="border:1px solid black; width:600px;background-color:white;padding-top:30px;opacity:0.9">
                <h3> Add Resource </h3>
                <div class="form-horizontal " style="padding:30px;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Resource Name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <input type="text" required name="ResourceName" class="form-control" style="width:180px" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Add Resource" class="btn btn-warning" style="margin-right:30px" />
                            @*  @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-danger" })*@
                            <a href="/Home/Index" class="btn btn-danger"><strong>Cancel</strong></a>

                        </div>
                    </div>
                </div>
            </div>
        </center>
    }


</div>