
@model IEnumerable<MVCEventCalendar.Resource>

<div style="background-image:url(../../Content/Images/2.jpg);background-size:cover">
    <div style="margin:20%;margin-top:-10px">
        <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Resources</h3>
        <div>
            <table class="table table-bordered" style=" width:500px; align-content:center; margin-right:50px; color:black;background-color:white;padding-top:30px;opacity:0.9">
                <tr style="background-color:#0094ff">
                    <th>
                        @Html.DisplayName("Resourcename")
                    </th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResourceName)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteResources", null, new { id = item.ResourceId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <a href="/Home/Index" class="btn btn-danger">Home</a>
    </div>
    </div>
